
* {
  /* background-color: #ffffdd; */
  /* background-color: #e3f2fd; */
  /* background-color: lightgreen; */
}

td, th {
  margin: 10px;
}

body {
  background-image: url("../images/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* SCAFFOLDING */
div.scaff {
  border: 2px solid maroon;
}

.transbox {
  margin: 30px;
  padding: 20px;
  background-color: #ffffff;
  /* border: 1px solid black; */
  border-radius: 20px;
  opacity: 0.8;
}

.transbox p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
a, 
form {
  /* margin: 5%; */
  /* font-weight: bold; */
  color: #000000;
}

input, 
select, 
textarea{
  color: #000000 !important;
}

textarea:focus, 
input:focus {
  /* color: #000000 !important; */
}

.bottom-button {
  border-top: 1px solid #000000a9;
}

.fade {
  /* opacity: 0.9; */
  color: lightskyblue;
}

.btn {
  /* background-color: none; */
}

.link-button {
  height: 30px;
  width: 40px;
}

.tiny-image {
  max-width: 30px
}

.hidden {
  visibility: hidden;
}

.disabled {
  pointer-events: none;
}

.left-col, 
.right-col, 
.calendar {
  border: 1px solid turquoise;
  border-radius: 10px;
}

.day-nav {
  border: 1px solid lightseagreen;
  border-radius: 5px;
  margin: 0 5px;
}

.greeting, 
.todays-date, 
.calendar-button, 
.food-search-form {
  border-bottom: 1px solid lightsteelblue;
}