
/* SCAFFOLDING */
/* div {
  border: 1px solid maroon;
} */

* {
  /* background-color: #ffffdd; */
  /* background-color: #e3f2fd; */
  /* background-color: lightgreen; */
}

td, th {
  margin: 10px;
}

.fade {
  /* opacity: 0.9; */
  color: lightskyblue;
}

.btn {
  /* background-color: none; */
}

.link-button {
  height: 30px;
  width: 40px;
}

.tiny-image {
  max-width: 30px
}

.hidden {
  visibility: hidden;
}

.disabled {
  pointer-events: none;
}

.left-col, .right-col, .calendar {
  border: 1px solid turquoise;
  border-radius: 10px;
}

.day-nav {
  border: 1px solid lightseagreen;
  border-radius: 5px;
  margin: 0 5px;
}

.greeting, .todays-date, .food-search-form {
  border-bottom: 1px solid lightsteelblue;
}