{% extends 'base.html' %}

{% block content %}

<div class="container">

  <div class="row">

    <!-- LEFT COLUMN -->
    <div class="left-col col-lg-4 m-1">

      <div class="greeting m-3">
        <h1>Welcome back,</h1>
        <h1 class="text-center">{{ user.username }}</h1>
      </div>

      <div class="todays-date m-3">
        <h1>
          Today is 
        </h1>
        <h4>
          {{ today.strftime("%B ") }}
          
          {% if today.day in (1, 21, 31) %}
            {{ today.day }}<sup>st</sup>
          {% elif today.day in (2, 22) %}
            {{ today.day }}<sup>nd</sup>
          {% else %}
            {{ today.day }}<sup>th</sup>
          {% endif %}
          ,
          {{ today.strftime("%Y / %A") }}
          <!-- <sup>Hani super scriptler</sup> -->
          <span>
          </span>
        </h4>
        <div class="row">
          <div class="col"></div>
          <div class="col-6 p-0">
            <a class="btn btn-primary btn-block m-2 text-white"
                href="/calendar">
              <!-- GO TO CALENDAR -->
              <i class="far fa-calendar-alt"></i>
              <!-- <i class="fas fa-calendar"></i> -->
            </a>
          </div>
          <div class="col"></div>
        </div>

      </div>

      <div class="food-search-form m-3 pb-3">

        <h2>Search Food</h2>  
        
        <form action="/food/search" method="POST" id="search-form" class="">
          <div class="row">
            <div class="form-group col px-1">
              <!-- <label for="food" class="">Food</label> -->
              <input id="food" name="food" type="text" class="form-control" placeholder="Enter Food">
            </div>
            <div class="col-4 p-0">
              <button type="submit" class="btn btn-primary btn-block">Search</button>
            </div>
          </div>
        </form>
        
      </div>
      
      <div class="freq-button m-3">
        <a href="/food/frequent" class="disabled btn btn-block btn-primary">
          Most Frequent Eaten 20 Foods
        </a>
      </div>

    </div>

    <!-- RIGHT COLUMN -->
    {% block right_column %}
    {% endblock %}

  </div>
</div>

{% endblock %}