<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CALORIE COUNTER</title>

  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- BOOTSTRAP -->
  <!-- <script src="https://unpkg.com/bootstrap"></script> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- FONTAWESOME -->
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.3.1/css/brands.css" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" rel="stylesheet" />
  
  <!-- MY STYLE -->
  <link rel="stylesheet" href="/static/stylesheets/style.css">

  <!-- FAVICON -->
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<!-- BODY -->
<body class="{% block body_class %}{% endblock %}">

  <!-- CONTAINER -->
  <div id="main-div" class="container">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand bg-light">
  
      <!-- NAVBAR CONTAINER -->
      <div class="container-fluid">
  
        <!-- NAVBAR HEADER -->
        <div class="navbar-header">
          <a href="/" class="navbar-brand text-secondary font-weight-bold">
            <img src="/static/images/scale-logo.jpg" alt="logo" class="tiny-image">
            <span>Calorie Counter</span>
          </a>
        </div>
  
        <!-- NAV -->
        <ul class="nav navbar-nav navbar-right">
  
          <!-- ANONYMOUS VISIT -->
          {% if not g.user %}
          <li><a href="/signup" class="pl-3">Signup</a></li>
          <li><a href="/login" class="pl-3">Login</a></li>
  
          <!-- LOGGED IN VISIT -->
          {% else %}
          <li>
            <span class="text-success">
              {{ today.strftime("%B ") }}          
              {% if today.day in (1, 21, 31) %}
                {{ today.day }}<sup>st</sup>
              {% elif today.day in (2, 22) %}
                {{ today.day }}<sup>nd</sup>
              {% elif the_date.day in (3, 23) %}
                {{ the_date.day }}<sup>rd</sup>
              {% else %}
                {{ today.day }}<sup>th</sup>
              {% endif %}
              <!-- {{ today.strftime("%Y / %A") }} -->
              {{ today.strftime("%Y") }}
            </span>            
          </li>
          <li>
            <a href="/users/{{ g.user.id }}" 
               class="text-secondary font-weight-bold pl-3" 
               style="pointer-events: none">
              <!-- <img src="{{ g.user.image_url }}" alt="user-pic"> -->
              <img src="../static/images/wolf.png" alt="user-pic">
              <span>{{ g.user.username }}</span>
            </a>
          </li>
          <li><a href="/logout" class="pl-3">Logout</a></li>
  
          {% endif %}
        </ul>
  
      </div>
  
    </nav>

    <!-- FLASH MESSAGES -->
    {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    <!-- CONTENT -->
    {% block content %} 
      {# THE CONTENT GOES HERE #} 
    {% endblock %}

  </div>

  <!-- JQUERY / POPPER / BOOTSTRAP / MY JS-->
  <script src="https://unpkg.com/jquery"></script>
  {# <script src="https://unpkg.com/popper"></script> #}
  <script src="/static/scripts/app.js"></script>
    
</body>
</html>