{% extends 'base_left.html' %}

{% block right_column %}

<!-- RIGHT COLUMN -->
<div class="row align-items-center">
  <div class="col"></div>
  <div class="calendar col-6 mt-5 p-2">
    <form action="/calendar" method="POST">
        <div class="row">
          <div class="col-8">
            <!-- LABEL-FOR INPUT-ID SHOULD MATCH -->
            <label for="chosen_date">DATE</label>
            <input type="date" name="chosen_date" id="chosen_date">
            <!-- FLASK GOT THE FORM INPUT BY NAME -->
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary btn-sm btn-block">GO!</button>
          </div>
        </div>
    </form>
  </div>
  <div class="col"></div>
</div>
{% endblock %}