{% extends 'base_left.html' %}

{% block right_column %}

<!-- RIGHT COLUMN -->
<div class="row align-items-center justify-content-center">
  <div class="calendar mt-5 p-2">
    <form action="/calendar" method="POST">
        <div class="form-group">
            <!-- LABEL-FOR INPUT-ID SHOULD MATCH -->
            <label for="chosen_date">DATE</label>
            <input type="date" class="form-control" name="chosen_date" id="chosen_date">
            <!-- FLASK GOT THE FORM INPUT BY NAME -->
        </div>
        <button type="submit" class="btn btn-primary">GO!</button>
    </form>
  </div>
</div>
{% endblock %}