{% extends 'base.html' %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-10 col-lg-8 text-center">

      <h1>Get Ready to Get In Shape!</h1>
      
      <h2 class="welcome-message mt-5 mb-1">Already signed up?</h2>
      <a href="login" class="btn btn-lg btn-success">Go to Login Page</a>
      
      <h2 class="welcome-message mt-5 mb-1">No account? No problem.</h2>
      <a href="signup" class="btn btn-lg btn-secondary">Go to Signup Page</a>
  
    </div>
  </div>

{% endblock %}