{% extends 'base_left.html' %}

{% block right_column %}

<!-- RIGHT COLUMN -->

<div class="m-3">
  <h3>
    Add Food for 
    <span class="text-success">
      {{ the_date.strftime("%B ") }}    
      {% if the_date.day in (1, 21, 31) %}
        {{ the_date.day }}<sup>st</sup>
      {% elif the_date.day in (2, 22) %}
        {{ the_date.day }}<sup>nd</sup>
      {% elif the_date.day in (3, 23) %}
        {{ the_date.day }}<sup>rd</sup>
      {% else %}
        {{ the_date.day }}<sup>th</sup>
      {% endif %}
      {{ the_date.strftime("%Y / %A") }}
    </span>
    List
  </h3>
</div>

<div class="m-3">

  <h4>{{flag}}
    <span class="text-info">
      {{ food_info['food_name'] }},

      {# BRAND OR GENERIC #}
      {% if food_info['food_type'].lower() == "brand" %}
        {{ food_info['brand_name'] }}
      {% else %}
        {{ food_info['food_type'] }}
      {% endif %}
    </span>
    has 
    
    {% if cals %}
      <span class="text-secondary">{{ cals }} kcals</span> 
      in 100 g.

    {% else %}
    <span class="text-secondary">
      {{ serving_values[0]['calories'] }} kcals
    </span> 
    in {{ serving_values[0]['serving_description'].lower() }}.
    {% endif %}
  </h4>
  

  <form action="/food/add/{{ food_info['food_id'] }}" method="POST" id="add-food-form">

    {# AMOUNT INPUT #}
    <input name="amount" 
            type="number" 
            step="0.1"
            min="0.1"
            placeholder="Enter Amount" 
            required>

    {# DROPDOWN MENU #}
    <select name="servings" id="serving-select">
      <option value="" disabled>--Serving--</option>

      {% for serving_value in serving_values %}

        
        <option value="
        {{ (food_info['food_id'], serving_value['serving_id']) }}
        ">        

          {% if serving_value['measurement_description'] =='g' %}
            grams
          {% else %}  
            {{ serving_value['measurement_description'] }}
          {% endif %}

          {# Avoid doubling the gram info #}
          {% if serving_value['measurement_description'][-2:] not in ('g)', 'g') %}
            ({{ serving_value['metric_serving_amount'] }}{{ serving_value['metric_serving_unit'] }})

          {% endif %}

      {% endfor %}
    </select>


    <button class="btn btn-sm btn-primary px-3">Add</button>
  </form>    

</div>

{% endblock %}