{% extends 'base.html' %}

{% block body_class %}{% endblock %}


{% block content %}

<div class="container">
  <div>
    <h3>FOOD LIST FOR
      {{ the_date.strftime("%B ") }}    
      {% if the_date.day in (1, 21, 31) %}
        {{ the_date.day }}<sup>st</sup>
      {% elif the_date.day in (2, 22) %}
        {{ the_date.day }}<sup>nd</sup>
      {% else %}
        {{ the_date.day }}<sup>th</sup>
      {% endif %}
      {{ the_date.strftime("%Y / %A") }}
      <span>
        <a class="btn btn-lg btn-primary mx-5 text-white"
            href="/food-find">
          ADD FOOD
        </a>
      </span></h3>

  </div>

  <div class="eaten-list">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">FOOD</th>
          <th scope="col">BRAND</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">UNIT</th>
          <th scope="col">KCAL</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

        <!-- EATEN LIST CONSTRUCTOR FOR LOOP -->
        {% for item in items %}
        <tr>
          <th scope="row">{{ item.number}}</th>
          <td>{{ item.food_name }}</td>
          <td>{{ item.food_brand }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.unit }}</td>
          <td>{{ item.calories }}</td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>

  </div>

</div>

{% endblock %}