{% extends 'base_left.html' %}

{% block right_column %}

<!-- RIGHT COLUMN -->
<div class="right-col col">

<h1 class="text-center">Most frequent eaten 20 foods</h1>

<!-- NO FOOD LOG YET -->
{% if not freq_20_foods %}
  <h3 class="m-5 text-center">Nothing eaten yet!</h3>

<!-- THERE IS EATEN SOMETHING -->
{% else %}

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Food Name</th>
        <th scope="col">Food Brand</th>
        <th scope="col">Count</th>
      </tr>
    </thead>
    <tbody>
      {% for food in freq_20_foods %}
      <tr>
        <th scope="row">
          <form>
            <button 
              type="submit"
              class="btn btn-primary btn-sm link-button" 
              formaction="/food/add/{{ food[0].id }}">
              <span class="text-center">
                {{ freq_20_foods.index(food) + 1}}
              </span>
            </button>
          </form>
        </th>
        <td>{{ food[0].name }}</td>
        <td>{{ food[0].brand }}</td>
        <td class="text-center">{{ food[1] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endif %}

{#
<div class="result-pages-navigation mb-3">

  <!-- PREVIOUS -->
  <span 
  class="
    {% if page_number == 0 %}
      hidden 
    {% endif %}
    mx-3
  "
  ><a href="/food/search/{{ search_term }}/{{ page_number - 1 }}">Previous</a></span>
  
  <!-- NUMBERED NAVIGATION IS HIDDEN FOR NOW -->
  {% for page in pages %}
    <span class="hidden"><a 
      class="
        {% if page == page_number + 1 %}
          font-weight-bold
        {% endif  %}
        mx-3
      "
      href="/food/search/{{ search_term }}/{{ page - 1 }}">{{ page }}</a></span>
  {% endfor %}
  
  <!-- NEXT -->
  <span class="mx-3"><a href="/food/search/{{ search_term }}/{{ page_number + 1 }}">Next</a></span>

</div>
#}

{% endblock %}